#t-c09fba08-e7bf-45d3-b8ac-049d373ee4ae > #backgroundBox {
  background-color: #FFFFFF;
  position: absolute;
}
#t-c09fba08-e7bf-45d3-b8ac-049d373ee4ae > #alignmentBox {
  position: relative;
  max-width: 393.0px;
  max-height: 852.0px;
  width: 100%;
  height: 100%;
}
#t-c09fba08-e7bf-45d3-b8ac-049d373ee4ae > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}