#s-0535a728-fe59-4db3-a365-e6dedf434040 > #backgroundBox {
  position: absolute;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 > #alignmentBox {
  position: relative;
  max-width: 393.0px;
  max-height: 852.0px;
  width: 100%;
  height: 100%;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Dynamic_Panel_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Panel_1 {
  width: 313.99999999999915px;
  height: 56.999999999999986px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Options_1 {
  position: absolute;
  width: 392.99999999999926px;
  height: 83.99999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Options_1 > .backgroundLayer > .colorLayer {
  background-color: rgba(255,255,255,0.75);
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Cell_67 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Cell_67 td.layout {
  padding: 10px 10px 10px 10px;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Cell_67 .verticalalign {
  vertical-align: top;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Cell_67 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Cell_67 {
  width: 20.0%;
  height: 100.0%;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Cell_67 .Cell_67 > *:last-child {
  margin-bottom: 0;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Cell_67 .Cell_67 > * {
  margin-bottom: 5px;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Cell_68 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Cell_68 td.layout {
  padding: 10px 10px 10px 10px;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Cell_68 .verticalalign {
  vertical-align: top;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Cell_68 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Cell_68 {
  width: 20.0%;
  height: 100.0%;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Cell_68 .Cell_68 > *:last-child {
  margin-bottom: 0;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Cell_68 .Cell_68 > * {
  margin-bottom: 5px;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Cell_69 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Cell_69 td.layout {
  padding: 10px 10px 10px 10px;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Cell_69 .verticalalign {
  vertical-align: top;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Cell_69 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Cell_69 {
  width: 20.0%;
  height: 100.0%;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Cell_69 .Cell_69 > *:last-child {
  margin-bottom: 0;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Cell_69 .Cell_69 > * {
  margin-bottom: 5px;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Cell_70 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Cell_70 td.layout {
  padding: 10px 10px 10px 10px;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Cell_70 .verticalalign {
  vertical-align: top;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Cell_70 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Cell_70 {
  width: 20.0%;
  height: 100.0%;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Cell_70 .Cell_70 > *:last-child {
  margin-bottom: 0;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Cell_70 .Cell_70 > * {
  margin-bottom: 5px;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Cell_71 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Cell_71 td.layout {
  padding: 10px 10px 10px 10px;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Cell_71 .verticalalign {
  vertical-align: top;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Cell_71 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Cell_71 {
  width: 20.0%;
  height: 100.0%;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Cell_71 .Cell_71 > *:last-child {
  margin-bottom: 0;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Cell_71 .Cell_71 > * {
  margin-bottom: 5px;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Text_25 {
  width: 44.3994140625px;
  min-height: 13.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto',Arial;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Text_25 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Text_25 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Text_25 span {
  color: #8E8E93;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 7.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Text_25 span#rtr-s-Text_25_0 {
  color: #8E8E93;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 7.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Path_31 {
  position: absolute;
  width: 21.4980206489563px;
  height: 18.815199725402604px;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Text_19 {
  position: absolute;
  width: 26.9580078125px;
  min-height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_32.0.0_google',Arial;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Text_19 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Text_19 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Text_19 span {
  color: #8E8E93;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_32.0.0_google',Arial;
  font-size: 7.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Text_19 span#rtr-s-Text_19_0 {
  color: #8E8E93;
  text-decoration: none;
  font-family: 'Roboto_32.0.0_google',Arial;
  font-size: 7.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Path_40 {
  position: absolute;
  width: 16.391600608825684px;
  height: 16.330049991607666px;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Text_22 {
  position: absolute;
  width: 36.8798828125px;
  min-height: 13.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_32.0.0_google',Arial;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Text_22 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Text_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Text_22 span {
  color: #8E8E93;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_32.0.0_google',Arial;
  font-size: 7.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Text_22 span#rtr-s-Text_22_0 {
  color: #8E8E93;
  text-decoration: none;
  font-family: 'Roboto_32.0.0_google',Arial;
  font-size: 7.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Text_23 {
  position: absolute;
  width: 40.6494140625px;
  min-height: 13.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_32.0.0_google',Arial;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Text_23 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Text_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Text_23 span {
  color: #888888;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_32.0.0_google',Arial;
  font-size: 7.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Text_23 span#rtr-s-Text_23_0 {
  color: #888888;
  text-decoration: none;
  font-family: 'Roboto_32.0.0_google',Arial;
  font-size: 7.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Path_6 {
  position: absolute;
  width: 22.649399042129517px;
  height: 15.231420040130615px;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Path_4 {
  position: absolute;
  width: 22.807600736618042px;
  height: 16.874979972839355px;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Text_24 {
  position: absolute;
  width: 36.61328125px;
  min-height: 23.999999999999986px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_32.0.0_google',Arial;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Text_24 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Text_24 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Text_24 span {
  color: #8E8E93;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_32.0.0_google',Arial;
  font-size: 7.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Text_24 span#rtr-s-Text_24_0 {
  color: #8E8E93;
  text-decoration: none;
  font-family: 'Roboto_32.0.0_google',Arial;
  font-size: 7.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Date_1 {
  position: absolute;
  width: 313.9999999999991px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Date_1 .valign {
  vertical-align: middle;
  line-height: 11.25pt;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Date_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  min-height: 11.25pt;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Date_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Date_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Date_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Text_1 {
  position: absolute;
  width: 313.999999999999px;
  min-height: 47.29173500053702px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Text_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Input_text_1 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Input_text_1 input::-moz-placeholder {
  color: #82888C;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Input_text_1 input:-moz-placeholder {
  color: #82888C;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Input_text_1 input:-ms-input-placeholder {
  color: #82888C;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Input_text_1 {
  position: absolute;
  width: 313.9999999999991px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Input_text_1 .valign {
  vertical-align: middle;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Input_text_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Input_text_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Input_text_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Input_text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Text_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Multiselect_list_1 table td > .option:not(:last-child) {
  margin-bottom: 0px;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Multiselect_list_1 .option.selected {
  background-color: #000000 !important;
  color: #FFFFFF !important;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Multiselect_list_1 td {
  vertical-align: top;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Multiselect_list_1 {
  position: absolute;
  width: 313.99999999999903px;
  height: 67.0199720608955px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Multiselect_list_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Multiselect_list_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Multiselect_list_1 .option {
  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 2px;
  padding-left: 8px;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Text_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Text_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Button_1 {
  position: absolute;
  width: 313.99999999999903px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Button_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Text_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Text_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Text_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Text_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Rectangle_1 {
  position: absolute;
  width: 313.99999999999903px;
  min-height: 102.55194679014198px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Rectangle_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Text_5 {
  position: absolute;
  width: 300.8515625px;
  min-height: 95.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Text_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Text_5 .valign {
  vertical-align: top;
  text-align: center;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Text_5 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-0535a728-fe59-4db3-a365-e6dedf434040 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}